/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { background-color: #000000 }

body { 
    text-align: center;
    font-family: sans-serif;
    color: #ff9500;
    font-family: 'Bangers', cursive;
    
}

h1 {
    
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 52px;
    margin-top: 12px;
    line-height: 1.2;
    color: #000000;
    text-transform: uppercase;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
    color: #000000;
}

h3 {
    font-family:serif;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    letter-spacing: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    border-radius: 10px;
    border: 10px solid black;
    font-weight: 900;
}



h4 {
    font-family: 'meriweather';
    font-size: 16px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: normal;
    color: #ff9d00;

}

p {
    font-size: 20px;
    margin-bottom: 16px;
}




/* Images */
img {
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    max-width: 25%

}

/* Buttons */

.button {
    
  background-color: #000000;
  border: 5px solid black;
  border-color: rgb(252, 143, 0);
  color: rgb(252, 143, 0);
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 70px;
  font-family: 'Merriweather', cursive;
  text-transform: uppercase;



}

.button:hover {
  background-color: #fdda84;
  color: black;
  border: 4px solid black;
  border-color: #de723c;
}

